.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #2a2b2a;
}

.login-wrapper {
  background-color: #e8e8e8;
  height: 330px;
  width: 300px;
  padding: 100px;
  position: relative;
  left: 35%;
  top: 100px;
}

h1.login-header {
  font-size: 42px;
  margin-bottom: 30px;
  color: #2a2b2a;
}

input {
  height: 50px;
  width: 100%;
  padding-left: 50px;
  margin-left: -30px;
  border: 0;
  font-size: 1rem;
  border-radius: 5px;
  outline: none;
}

button {
  width: 100px;
  height: 50px;
  cursor: pointer;
}

button.login-button {
  margin-top: 60px;
  background-color: rgb(64, 122, 230);
  border: 0;
  font-size: 16px;
  border-radius: 3px;
  box-shadow: inset 0 0 0 0.01px #20577e;
  font-weight: 600;
  color: #fff;
  transition: all ease-in 0.5s;
}

button.login-button:hover {
  box-shadow: inset 200px 0 0 0 #20577e;
}

.login-inputs {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.device-number {
  font-size: 120px;
  font-weight: 400;
  top: 50;
  position: relative;
  color: #fff;
  margin-bottom: 5px;
}

.device-text {
  text-align: center;
  color: #fff;
  line-height: 1;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 0;
}

.text-position {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.device-control {
  background-color: #d76845;
  height: 80px;
  padding-top: 20px;
  width: 100%;
}

.container {
  position: relative;
  height: 97.8vh;
  overflow-y: hidden;
  margin: 0;
  padding-top: 20px;
  background-color: #f06d40;
}

.device-controller {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.notify-button {
  border-radius: 5px;
  margin: 0 10px;
  border: 0;
  color: #2a2b2a;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  width: 100px;
}

.logut-button {
  border-radius: 5px;
  margin: 0 10px;
  border: 0;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  background-color: #37474f;
  position: relative;
  width: 100px;
}

.notification-panel {
  background-color: white;
  justify-content: center;
  margin-top: 50px;
}

.circle {
  height: 120px;
  width: 120px;
  background-color: #fff;
  border-radius: 60px;
}

.device-animation {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
  background: transparent;
  border: 0;
  text-align: center;
  padding: 20px;
}

.device-animation-circle {
  display: block;
  position: absolute;
  top: calc(50% - 10px);
  left: 45%;
  width: 300px;
  height: 1px;
  background: transparent;
  transform-origin: left;
  margin: 40px;
}

.device-animation-circle::before {
  content: "";
  position: inherit;
  width: 75px;
  height: 75px;
  top: -45px;
  right: -45px;
  border-radius: 50%;
  background: #fff;
  transform: rotate(30deg);
  margin: 40px;
}

.device-animation-holder {
  position: absolute;
  left: 50%;
  top: 50%;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
